<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ao.covidzero.covidzero">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:name=".intro.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_covid"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_covid_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NumberVerification"></activity>
        <activity android:name=".intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".InicarAlarme"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.covidzero.covidzero.InicarAlarme" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".InicarNotificao"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.covidzero.covidzero.app" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".ExameActivity" />
        <activity android:name=".ProfissionaisActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".GruposActivity" />
        <activity android:name=".Tela1Activity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>